extends layout

block content
    .row-fluid
        .navbar
            .navbar-inner(ng-controller='navController')
                a.brand(href='#') MeliSeller
                if (!isLogin)
                    a.brand(href="https://auth.mercadolibre.com.ar/authorization?response_type=code&client_id=4416176012263899&redirect_uri=http://melihackathon.hp.af.cm/login") Login
                ul.nav
                    li.active
                        a(href='#') Home
                    li
                        a(href='#/ventas') Ventas
                    li
                        a(href='#/preguntas') Preguntas

    .row-fluid

        .span3(ng-controller='resumen')
            h3 Vista rápida
            p #{code}
            p {{user.name}}
        .span9(ng-view)
            h1= title
            p Welcome to #{title}