extends layout

block content
    .row-fluid
        .navbar
            .navbar-inner(ng-controller='navController')
                a.brand(href='#') MeliSeller
                if (!isLogin)
                    a.brand.text-error(href="https://auth.mercadolibre.com.ar/authorization?response_type=code&client_id=4416176012263899&redirect_uri=http://santi8ago8.kd.io:8080/login") Login
                ul.nav
                    li.active
                        a(href='#').homeMenu Home
                    li
                        a(href='#/ventas').ventasMenu Ventas
                            span.badge {{filtered.length}}
                    li
                        a.preguntasMenu(href='#/preguntas') Preguntas
                            span.badge  &#32; {{questions.length}}

    .row-fluid

        .span3
            h3 Vista rápida
            p(style='display:none').idClient #{code}
            p {{user.name}}
        .span9(ng-controller='allController')

            //home
            .homeCont.container.span12
                h2 Home




            //ventas
            .ventasCont.container.span12(style='display:none')
                h2 Ventas
                section.ventas
                    article.ventaItem.item(ng-repeat="sell in orders | orderBy:'id':reverse=true")

                        img.questItem.img-rounded(ng-src='{{sell.item.thumbnail}}')
                        a(href='{{sell.item.permalink}}')
                            strong {{sell.item.title}}
                        a(href='{{sell.user.permalink}}')  {{sell.user.nickname}}
                        span.time(time='{{sell.date_created}}')
                        p.lead  $ {{sell.total_amount}}


            //preguntas!
            .preguntasCont.container.span12(style='display:none')
                h2 Preguntas
                section.preguntas
                    article.questItem.item(ng-repeat="art in questions | orderBy:'info.id':reverse=true",ng-hide='{{art.isDelete}}')
                        img.questItem.img-rounded(ng-src='{{art.item.thumbnail}}')
                        a(href='{{art.item.permalink}}')    {{art.item.title}}
                        a(href='{{art.user.permalink}}')  {{art.user.nickname}}
                        span.time(time='{{art.info.date_created}}')
                        p.leap Pregunta: {{art.info.text}}
                        .clear
                        form.response.row-fluid()
                            .span12
                                textarea.span12(idquest='{{art.info.id}}',ng-model='resp.text')
                            .span4
                                button.span12(type='submit',ng-click='sendResp(resp)') Responder
