doctype 5
html(ng-app='Meli')
    head
        title= title
        //meta(name="viewport",content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/css/bootstrap.css')
        link(rel='stylesheet', href='/css/style.css')

    body
        block content