h2 Preguntas
section.preguntas
    article.questItem.item.row-fluid(ng-repeat='art in questions | orderBy:-info.date_created')
        img.questItem.img-rounded(ng-src='{{art.item.thumbnail}}')
        a(href='{{art.item.permalink}}')    {{art.item.title}}
        a(href='{{art.user.permalink}}')  {{art.user.nickname}}
        span.time(time='{{art.info.date_created}}')
        p.leap Pregunta: {{art.info.text}}
        .clear
        form.response.row-fluid()
            .span12
                textarea.span12(idquest='{{art.info.id}}',ng-model='resp.text')
            .span4
                button.span12(type='submit',ng-click='sendResp(resp)') Responder

