h2 Preguntas
section.preguntas
    article.questItem.item.row-fluid(ng-repeat='art in questions')
        img.questItem.img-rounded(nr-src='{{art.item.thumbnail}}')
        a(href='{{art.item.permalink}}') {{art.item.title}}
        a(href='{{art.user.permalink}}')  {{art.user.nickname}}
        span.time(time='{{art.info.date_created}}')
        p.leap Pregunta: {{art.info.text}}
        form.response.row-fluid(ng-submit='sendResp()')
            .span12
                textarea.span12(idquest='{{art.info.id}}')
            .span3
                button.span3(type='submit')

