body
    padding: 50px

a
    color: #00B7FF

.description
    img
        width 100%

.clear
    clear both
.questItem
    article
        img
            float left
        padding 5px
        form
            margin-top 5px